header.header
    +icon('like')
    +icon('ar-back')
    +icon('phone')
    +icon('star')
    +icon('viewer-big')
    +icon('viewer-small')


//    <svg><use xlink:href="<?= SITE_TEMPLATE_PATH ?>/images/svg/sprite.svg#like"></use></svg>








