// Переменные
$font: "montserat";

$grid-columns: 12;
@for $i from 1 through $grid-columns {
	.col-#{$i}{
		width: percentage($i / $grid-columns);
	}
}

// Стили
body {
	font-family: $font;
	font-weight: 400;
	overflow: visible;
	overflow-x: hidden;
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: -0.02em;
}
article{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
a{
	text-decoration: none;
	transition: .2s;
}
img{
	max-width: 100%;
}
.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
	display: flex; /* по умолчанию показываем нужный блок */
}


.container{
	@include wrapper();
}