/*.mf-cat-product__label-text {*/
/*	position: absolute !important;*/
/*	font-size: 14px;*/
/*	font-weight: bold;*/
/*	line-height: 1.25;*/
/*	display: block;*/
/*	z-index: 2;*/
/*}*/

/*.mf-cat-product__label-text--hit {*/
/*	background: #fff;*/
/*	padding: 4px 8px;*/
/*	box-shadow: -3px 3px 4px #ccc;*/
/*}*/

/*.mf-product-gallery-image .mf-cat-product__label-text {*/
/*	right: 0;*/
/*}*/

/*.mf-product-gallery-image .mf-cat-product__label-text--hit {*/
/*	top: 70%;*/
/*}*/

.popup_shop-review  .mfp-content {
	background-color: #fff;
	max-width: 540px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.review-modal__close svg {
	position: relative;
	z-index: -1;
}

.not-visible {
	visibility: hidden;
}