.mf-cat-product__label-text {
  position: absolute !important;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.25;
  display: block;
  z-index: 2;
}

.mf-cat-product__label-text--hit {
  background: #fff;
  padding: 4px 8px;
  box-shadow: -3px 3px 4px #ccc;
}


.mf-cat-product .mf-cat-product__label-text {
  right: 0;
}

.mf-cat-product .mf-cat-product__label-text--hit {
  bottom: 15%;
}

.mf-cat-product .mf-cat-prev-column-1 .mf-cat-product__label-text {
  right: 11px;
}

.mf-cat-product .mf-cat-prev-column-1 .mf-cat-product__label-text--hit {
  bottom: 20%;
}



