.main-section .popup_input .form_block {
  max-height: none;
}

section.main-section > .reg-form-page {
  max-width: 480px;
  margin: 0 auto;
  display: block;
}

.popup_shop form .error_message_form {
  text-align: center;
  margin-top: 15px;
}