.vacancy-list .vacancy-item {
  display: none;
}

.vacancy-list__filter {
  display: flex;
  margin-bottom: 24px;
}

.vacancy-list__filter .item {
  max-width: 20%;
  flex: 0 0 20%;
  padding: 0 20px;
  box-sizing: border-box;
}


.vacancy-list .jq-selectbox__dropdown ul {
  display: block;
}

.vacancy-list .jq-selectbox__dropdown li {
  display: block;
  width: auto;
  margin-bottom: 0;
}

.vacancy-list .jq-selectbox__dropdown li:nth-child(4n),
.vacancy-list .jq-selectbox__dropdown li:nth-child(4n+3),
.vacancy-list .jq-selectbox__dropdown li:nth-child(4n+2) {
  left: auto;
}

.vacancy-list .jq-selectbox__dropdown li.disabled,
.vacancy-list .jq-selectbox__dropdown li::after {
  display: none;
}

.vacancy-list__btn {
  background: #fff;
}
