.barcode-search-cnt {
  padding: 20px 16px;
  border-top: 1px dotted #9C9C9C;
}

.barcode-search-cnt canvas {
  max-width: 100%;
}

.btn-search-barcode {
  width: 28px;
  height: 28px;
  text-indent: 100px;
  overflow: hidden;
  background: url(/local/templates/markformelle/images/barcode-scan.svg) no-repeat center center;
  background-size: cover;
  border: none;
  position: relative;
  top: -3px;
  margin-right: 8px;
}

.barcode-search-form {
  position: relative;
  background: #fff;
  max-width: 380px;
  margin: 30px auto;
}

.barcode-search-form .mfp-close{
   font: initial;
   color: black;
   font-size: 35px;
   opacity: 0.8;
   width: 22px;
   height: 30px;
   right: 15px;
   top: 0;
}

.barcode-search-form [type="file"] {

}

.btn-search-barcode-value {
  border: 2px solid #000;
  background: #fff;
  font-size: 20px;
  padding: 4px 8px;
}

.barcode-search-form input[type="file"] {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}



.btn-barcode-upload-photo {
  background: url(/local/templates/markformelle/images/barcode-scan.svg) no-repeat 4px center #fff;
  /*background-size: contain;*/
  background-size: 30px;
  border: 2px solid #000;
  font-size: 20px;
  padding: 4px 8px 4px 44px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1em;
}

@media screen and (max-width: 649px) {
  .btn-search-barcode {
    top: -1px;
  }
}

