.user-ac-form-userdelivery .mf-f-t-cell:nth-child(-n+2) {
    min-width: 282px !important;
    width: 25% !important;
}

.location-block-wrapper .bx-sls .dropdown-block {
    border-top: none;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 11px;
    margin-top: -4px;
}

.user-ac-form-userdelivery .mf-f-t-cell.location_profiles {
    padding-right: 0;
    width: calc(100% - 336px) !important;
}

.button-link.button-link--cancel {
    padding: 12px;
    margin-left: 24px;
}
